@import 'tailwindcss';

nav::-webkit-scrollbar {
    width: 6px;
}

nav::-webkit-track {
    background-color: #1f2937;
}

nav::-webkit-scrollbar-thumb {
    background-color: #4b5563;
    border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
 display: none;
}